<div class="auth-page-container">
  <amplify-authenticator [hideSignUp]="true">
     <ng-template amplifySlot="sign-in-header">
    <div class="signin-logo-header">
      <img src="assets/truevine_logo.png" alt="True Vine Logo" class="signin-logo" />
    </div>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
  <div class="main-app-container">
    <header class="app-header">
    <div class="header-left">
      <img src="assets/truevine_logo.png" alt="True Vine Hotel Logo" class="logo" />
    </div>
    <div class="header-right">
      <span class="username">Welcome, {{user?.signInDetails?.loginId}}</span>
      <button class="signout-button" (click)="signOut()">Sign Out</button>
    </div>
  </header>
    <div class="under-construction">
      <img src="assets/under-construction-png.jpg" alt="Site under construction"  class="under-construction-image">
    </div>
  </div>
  </ng-template>
</amplify-authenticator>
</div>
